@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1649211057198') format('truetype');
}
@font-face {
  font-family: "VisbyCF-Thin";
  src: url('@/assets/fonts/VisbyCF-Thin.ttf');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e6ca";
}

.icon-search:before {
  content: "\e60f";
}

.icon-back:before {
  content: "\e608";
}

.icon-shopcart:before {
  content: "\e882";
}

.icon-user:before {
  content: "\e610";
}

.icon-category:before {
  content: "\e623";
}

